<app-input-filter 
  (filterChange)="onFilterChange($event)">
</app-input-filter>

<ion-grid class="global-wrapper">
  <ion-row>
    <ion-col 
      size="6" 
      sizeMd="3"
      *ngFor="let pokemon of filteredPokemons | paginate: { currentPage: page, itemsPerPage: pageSize, totalItems: totalItems }"
    >
      <ion-card (click)="goToDetails(pokemon.name)">
        <img 
          [src]="getPokemonImage(pokemon.url)" 
          [alt]="pokemon.name" 
        />
        <ion-card-content>
          <h2>{{ pokemon.name | titlecase }}</h2>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<div 
  class="ion-text-center ion-margin" 
  *ngIf="totalItems > pageSize"
>
  <pagination-controls
    (pageChange)="onPageChange($event)"
    previousLabel="Anterior"
    nextLabel="Próxima"
    [autoHide]="true"
    [responsive]="true"
  >
  </pagination-controls>
</div>